body {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: arial,sans-serif;
    
}
p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    text-justify: center;
}

.topnav {
    background-color: white;
    overflow: hidden;
} 

.topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    text-decoration: underline;
}
.topnav a:active {
    text-decoration: underline;
}

.img { 
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 9px;
}

 .icon {
     padding: 2px;
    float: right;
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;  
    margin-right: 9px;
 }
 .icon:hover {
    background-color: gray;
    cursor: pointer;
 }

 .icon1 {
    padding: 4px;
    float: right;
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 26px;
    width: 26px;
    z-index: 0;  
    margin-right: 15px;
    margin-top: 2px;
 }

 .icon1:hover {
 background-color: rgb(211,211,211);
 }
 
.big {
    width: auto;
    max-width: 580px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    display: block;
}
.big1 {
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: 28px;
}

.big2 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.big3 {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;

}
.big4 {
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,.87);
    outline: none;
    display: flex;
    flex: 100%;
    font-size: 16px;
    height: 34px;
    width: 480px;
}
.mic {
    height: 28px;
    width: 28px;   
}
.mic:hover {
    cursor: pointer;
}


.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    margin-left: 530px;
    margin-top: 20px;
}
.button1 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    
}
.button:hover {
    border-radius: 4px;
    border: 1px solid #c2c4c4;
    cursor: pointer;
}
.button1:hover {
    border-radius: 4px;
    border: 1px solid #c2c4c4;
    cursor: pointer;
}
.bot {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 99%;
}
.bot1 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.bot2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px; 
}
.bot3 {
    justify-content: space-evenly;
}
.link {
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
    float: left;
}
.link1 {
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
    float: right;  
   position: absolute;
   right: 160px;
}
.link2 {
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
    float: right;  
   position: absolute;
   right: 90px;
}
.link3 {
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
    float: right;  
   position: absolute;
   right: 10px;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.link1:hover {
    cursor: pointer;
    text-decoration: underline;
}
.link2:hover {
    cursor: pointer;
    text-decoration: underline;
}
.link3:hover {
    cursor: pointer;
    text-decoration: underline;
}
.srb {
    color: rgb(60, 0, 128);
}
.srb:hover {
    cursor: pointer;
    text-decoration: underline;
}